@keyframes rgb-flicker {
    0% {
        color: red;
    }
    10% {
        color: rgb(252, 115, 115);
    }
    20% {
        color: pink;
    }
    30% {
        color: lightpink;
    }
    40% {
        color: lightblue;
    }
    50% {
        color: blue;
    }
60% {
color: green;
}
70% {
color: lightgreen;
}
80% { 
color: yellow;
}
90% { 
color: white;
}
100% { 
color: red;
}
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../icons/bg.png') no-repeat center center/cover ;
    text-align: center;
}


.rgb-effect {
    font-size: 40px;
    animation: rgb-flicker 3s infinite;
}
.rgb-effect2 {
    font-size: 40px;
    animation: rgb-flicker 2s infinite;
}

.user-list {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    max-width: 80%;
    width:80%;
    overflow: auto;
}

.user-list h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: pink;
}

.user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-list li {
    margin: 5px 0;
    font-size: 24px;
    color: white;
}

.discord-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.discord-icon img {
    width: 100%;
    height: 100%;
}

.big-text {
    font-size: 50px;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(rgb(rgb(rgb(0.00,0.00,0.00)))), rgba(0,0,0), rgba(0,0,0), rgba(79, 220, 74, 0.7), rgba(63, 218, 216, 0.7), rgba(47, 201, 226, 0.7), rgba(28, 127, 238, 0.7), rgba(95, 21, 242, 0.7), rgba(186, 12, 248, 0.7), rgba(251, 7, 217, 0.7));
    background-size: 200% 200%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0);
    transition: transform 0.3s ease;
}

.big-text:hover {
    transform: scale(1.1);
}

.dev-tag {
    position: fixed;
    bottom: 5px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
}

.dev-credit { /*my credit*/
    position: fixed;
    bottom:35px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: lawngreen;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
}


a { /*base color*/
    color: #ffffff;
    text-decoration: none;
}
b { /*alternative font options*/
	color: #ffffff;
   font-size: 50px;
    font-weight: bold;
	word-spacing: 10px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #600079;
  }

  .topnav a {
    float: left;
    display: block;
    color: rgb(174, 0, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a:hover {
    background-color: #9c00b1;
    color: rgb(0, 0, 0);
  }

  .topnav a.active {
    background-color: #a00298;
    color: rgb(0, 0, 0);
  }
#logo {
    display: center;
    margin: 5px;
    height: 150px;
    width: auto; 
    border-radius: 50%;
  }
  #logo1 {
    margin: 5px;
    height: 50px; 
    border-radius: 50%;
    top: 0px;
    right: 0px;
  }